:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

body {
    background: #718096;
    background: linear-gradient(to right, #4a5568, #a0aec0);
}

h5{
    font-family: "Arial Black";
    font-style: italic;
    font-size: 3rem;
}

#btnLogueo{
    background: linear-gradient(to top, #4a5568, #a0aec0);
    color: #f7fafc;
}

#btnRegistro{
    background: linear-gradient(to top, slategray, darkgray);
    color: #f7fafc;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}


p{
    color: #f7fafc;
    font-size: 2rem;
    font-family: "Droid Sans";
    background: linear-gradient(to right, #718096, #a0aec0);
    text-align: center;
}


